:root {
    --primary_white_colour: #FFFFFF;
    --primary-title-colour: #212121;
    --primary-text-colour: #757575;
    --accent-colour: #2196F3;
    --logo-accent-colour: #2196F3;
    --logo-light-color: #ffffff;
    --logo-dark-color: #000000;
    --hero-background: #C4C4C4;
    --hero-title-colour: #FFFFFF;
    --hero-btn-background: #2196F3;
    --hero-btn-hover-background: #188CE8;
    --ourteams-section-background: #F5F4FA;
    --btnfilter-background: #F5F4FA;
    --btnfilter-hover-background: #FFFFFF;
    --footer-background: #2F303A;
    --footer-contacts-link: rgba(255, 255, 255, 0.6);
    --link-icon-color: #AFB1B8;
    --foter-soc-link-background: rgba(255, 255, 255, 0.1);
    --cervices-overflow-text-background: rgba(47, 48, 58, 0.8);
    --card-thumb-overlay: rgba(33, 150, 243, 0.9);
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --menu-button: #212121;
    --menu--close-button: #212121;
    --madal-close-button: rgba(0, 0, 0, 0.1);
    --modal-close-logo: #000000;
    --footer-input-area: rgba(255, 255, 255, 0.3);
    --modal-input-border: rgba(33, 33, 33, 0.2);
    --modal-textarea-placeholder: rgba(117, 117, 117, 0.5);

    --main-font: 'Roboto', sans-serif;
    --main-letter-spacing: 0.03em;
}