.list__advantages {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.list__advantages-item {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 30px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
        margin-right: 30px;
        margin-bottom: 0px;
    }
}

.list__advantages-item:nth-child(4n) {
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .list__advantages-item:nth-child(2n) {
        margin-right: 0px;
    }
    .list__advantages-item:nth-child(n + 3) {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px) {
    .list__advantages-item:nth-child(2n) {
        margin-right: 30px;
    }
    .list__advantages-item:nth-child(4n) {
        margin-right: 0;
    }
}

.list-item__icon {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: var(--btnfilter-background);
    margin-bottom: 30px;
    @extend %flex-align;
    justify-content: center;
}
.list-item__subtitle {
    @include font(700, 14px, 1.14, null);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: start;
    }
}
.list-item__text {
    @include font(null, 14px, 1.71, null);
}